@model Department

@{
    ViewData["Title"] = "Edit Department";
    ViewData["action"] = "Edit";
    ViewData["SubmitButtonText"] = "Save Changes";
}

<h1>Edit Department</h1>

<partial name="_DepartmentForm" />

<hr />
<div class="mt-3">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

