@* @model studentController.Models.Student  *@

<div class="card" style="width: 18rem;">
    <img class="card-img-top" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5> 
        <p class="card-text">@Model.SSN</p> 
        <a href="#" class="btn btn-primary">Go To All Students</a>
    </div>
</div>

